.showmessages{
    width: 500px;
      height: 500px;
      background: yellow;
    border-style: solid;
    border-color: green;
    border-width: 12px;
    border-radius: 20px 20px;
    overflow:scroll;
  }
  
.personalInfo{
  width: 500px;
    height: 100px;
    background: yellow;
  border-style: solid;
  border-color: green;
  border-width: 12px;
  border-radius: 20px 20px;
  }

#nameAndId{
  font-weight: bold;
}